header{
    background-color: antiquewhite;
    nav{
        margin: 0px;
        color: darkgreen;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    a{
        text-decoration: none;
        font-family: cursive;
    }

}